.input { 
    width: 250px;
    padding: 10px 5px;
    display: block;
    outline: none;
    border: 1px solid red;
    border-radius: 8px 0px 0px 8px;
    position: relative;
}


.form {
    display: flex;
    justify-content: center;
    margin-top: 20px
}


.btn-ord  { 
    width: 100px;
    padding: 10px 5px;
    background-color: green;
    border-radius: 0px 8px 8px 0px;
    border: none;
    display: block;
    color: #fff;
    cursor: pointer;
}

.input::placeholder { 
    color: #000;
}


.todos { 
    max-width: 350px;
    margin: 12px auto 0px auto;
    list-style: none;
}



.todo + .todo { 
    margin-top: 12px;
} 

.todo { 
    cursor: pointer;
    display: flex; 
    justify-content: space-between;
    font-size: 25px;
}


.todo.done { 
    color: green;
}


.delete { 
    background-color: transparent; 
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.complete { 
    background-color: transparent; 
    border: none;
    cursor: pointer;
    margin-right: 10px;
}


.edit { 
    background-color: transparent; 
    border: none; 
}